numpy>=1.22.0
pandas>=1.3.0
pytorch-lightning>=1.6
torch>=1.9.0
torchvision
gpytorch
scikit-learn
tabulate>=0.7.0
pre-commit
black
pytest
setuptools
flake8
flake8-bugbear
pyreadr>=0.4.4
xlrd>=2.0.1
openpyxl>=3.0.9
pytest-cov
protobuf
